.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  block-size: 3.5rem;
  background: var(--black);
  position: relative;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  block-size: 3.5rem;
}

.header-logo {
  display: flex;
  gap: 1.5rem;
  padding-inline-start: 1.5rem;
}

.header-logo img {
  block-size: 2.5rem;
}

.header-options {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.option-search {
  display: flex;
}

.option-search input {
  background-color: var(--black);
  border: none;
  color: var(--white);
  outline: none;
}

.option-search.open {
  display: flex;
}

.global.open {
  display: flex;
}

@media screen and (max-width: 700px) {
  .option-search {
    display: none;
  }

  .option-search input {
    display: none;
  }

  .global {
    display: none;
  }
}
