
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    block-size: 100%;
    inline-size: 100%;
    margin: auto;
}

.information img{
    block-size: 100%;
    inline-size: 100%;
}